html {
    background-color: $white;
    color: $black;
    @include neue-montreal-medium;
}

.wrapper {
    max-width: rem(1440);
    padding: 0 rem(100);
    margin: auto;
}

// fonts

.title {
    &-sm {
        @include font(30, 0, 36);
    }
    &-md {
        @include font(50, 0, 60);
    }
    &-lg {
        @include font(100, 0, 103);
        & + .title-lg {
            margin-top: rem(50);
        }
    }
}

.tag {
    @include font(20, 0, 24);
    text-transform: uppercase;
}

// misc
