html {
    background-color: $white;
    color: $black;
    @include neue-montreal-medium;
}

.wrapper {
    max-width: rem(1440);
    padding: 0 rem(25);
    margin: auto;
    @include laptop {
        padding: 0 rem(100);
    }
}

// fonts

.title {
    &-sm {
        @include font(25, 0, 30);
        @include laptop {
            @include font(30, 0, 36);
        }
    }
    &-md {
        @include font(32, 0, 38);

        @include laptop {
            @include font(50, 0, 60);
        }
    }
    &-lg {
        @include font(45, 0, 48);
        @include laptop {
            @include font(100, 0, 103);
        }
        & + .title-lg {
            margin-top: rem(50);
        }
    }
}

.tag {
    @include font(20, 0, 24);
    text-transform: uppercase;
}

// misc
