// add fonts

@font-face {
    font-family: "Neue Montreal";
    src: url("/fonts/NeueMontreal-Regular.woff2") format("woff2"),
        url("/fonts/NeueMontreal-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neue Montreal";
    src: url("/fonts/NeueMontreal-Medium.woff2") format("woff2"),
        url("/fonts/NeueMontreal-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neue Montreal";
    src: url("/fonts/NeueMontreal-Bold.woff2") format("woff2"),
        url("/fonts/NeueMontreal-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

// font mixins
@mixin neue-montreal {
    font-family: "Neue Montreal", sans-serif;
    font-weight: 400;
}
@mixin neue-montreal-medium {
    font-family: "Neue Montreal", sans-serif;
    font-weight: 500;
}

@mixin neue-montreal-bold {
    font-family: "Neue Montreal", sans-serif;
    font-weight: 700;
}
