footer {
    padding: rem(35) 0;
    margin-top: rem(100);
    position: relative;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .menu {
        display: none;
        @include laptop {
            display: block;
        }
        nav > ul > li > a {
            padding: rem(37) rem(5) rem(15) rem(5);
            &:after {
                bottom: unset;
                top: 0;
            }
        }
    }
}
