header {
    padding: rem(30) 0;
    position: relative;
    &:after {
        z-index: 10;
    }

    .logo {
        height: rem(35);
        width: auto;
        z-index: 10;
        path {
            fill: $black;
        }
        @include laptop {
            height: rem(40);
        }
    }
}
