header {
    padding: rem(30) 0;
    position: relative;
    @include after-line;
    &:after {
        z-index: 9999;
    }

    .logo {
        height: rem(35);
        width: auto;
        z-index: 9999;
        path {
            fill: $blurple;
        }
        @include laptop {
            height: rem(40);
        }
    }
}
