.about {
    .grid {
        @include laptop {
            display: grid;
            grid-template-columns: minmax(0, 1fr) minmax(0, 1.4fr);
            column-gap: rem(100);
        }
    }
    .headshot {
        // margin-bottom: rem(100);
        img {
            border-radius: rem(40);
        }
    }

    .text {
        margin: rem(10) 0 0 auto;
    }
}
