.title {
    position: relative;
    padding: rem(50) 0;
    &:before {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: rem(1);
        top: 0;
        left: 0;
        z-index: -1;
        background: $black;
    }
    &:after {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: rem(1);
        bottom: 0;
        left: 0;
        z-index: -1;
        background: $black;
    }
}
